<a href="https://colab.research.google.com/github/shanmukhasai048/shanmukhasai048/blob/main/214516_Exercise_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

sai ram . i will be writing my first phython program
keyword
syntax
error / mistake
debug

In [ ]:
print('sairam')
print('sai')
print ("sai")
print ('shannu 07')
a =100
print (a)

sairam
sai
sai
shannu 07
100

In [ ]:
print("Hello, World")
if 5 > 2 :
 print("five is greater than two")
 if 9 > 2 :
  print ("nine  is greater than two")
else :
   print ("wrong")

Hello, World
five is greater than two
nine  is greater than two

In [ ]:
a = type (8)
print (a)
type (6.33)

<class 'int'>

float

In [ ]:
float (9)

9.0

In [ ]:
str(1)

'1'

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
bool(0)

False

In [ ]:
int(False)

0

In [ ]:
float(True)

1.0

In [ ]:
a = 9//2
print("coficient is",a)

coficient is 4

In [ ]:
p = 9%2
print (p)

1

int

In [ ]:

a = type (99)
print (a)
type (9.3)

<class 'int'>

float

In [ ]:
int(False)

0

In [1]:
name = "shannu"
print (name[2])

a

In [3]:
print (name[-5])

h

In [2]:
len ('shannu')

6

In [ ]:
name[0:4]

'kart'

In [ ]:
name [::2]

'krhk'

In [ ]:
name [0:5:3]

'kt'

In [4]:
  print (name +   "king")

shannuking

In [ ]:
b = 23
h =89
area = 1/2*b*h
print (area)

1023.5

In [ ]:
name1 = " Earth revolves around the sun "
print (name1 [6:15])

 revolves

In [ ]:
name1 [-4:-1]

'sun'

In [ ]:
name2 = "I love eating"
name3 = " veggies "
name4 = " fruits"
print (name2 + name3 + "and" + name4)

I love eating veggies and fruits

In [ ]:
num = " 4 "
print (name2 + num + name4 + " everyday")

I love eating 4  fruits everyday

In [ ]:
p = float (input ('p =  '))
t = float (input ('t = ')) 
r = float (input ('r =  '))
ptr = ((t - p)* 100 ) / (p* r)
print (ptr)

p =  4
t = 10
r =  50
3.0

In [ ]:
cost = 5
paid = 10
returns = (paid - cost)
print (returns)

5

In [ ]:
2 * (35 + 9) / 4

22.0

In [ ]:
5 // (4 + 5) % 5

0

In [ ]:
2 * 3 + 9 / 5

7.8

In [ ]:
r = float(input('R = ')) 
t1 = float(input('Larger Time = ')) 
t2 = float(input('Shorter Time = ')) 
dif = float(input('Difference between interests : '))

si1 = (p*r*t1)/100
si2 = (p*r*t2)/100
p = (dif / r * (t1 - t2)) * 100
print(p)

R = 10
Larger Time = 6
Shorter Time = 8
Difference between interests : 65
-1300.0

In [ ]:
2 ** (3*3)

512

In [ ]:
2**3

8

In [ ]:
1 > 0

True

In [ ]:
# and operator true and true will be true
# and operator true and false will be false
# and operator false and true will be false
# and operator false and false will be false
A = True
B= False
B and B

False

In [ ]:
'hello' + " 1"

'hello 1'

In [ ]:
if 4 > 9 :
  print ("first is greater than 2")
else :
   print ("sencond num is greater thann first")

sencond num is greater thann first

In [ ]:
if 4 > 9 :
  print(1+1)

In [ ]:
h = 10
o = 10
if (h == o):
 print('Both numbers are equal')
elif (x>y): 
      print('The first number is greater than the second one')
else:
        print("The second number is greater than the first one")

Both numbers are equal

excesise 1 of chap 3

In [ ]:
k1 = float(input("Enter Hour\n"))
k2 = float(input("Enter rate\n"))

if(k1>40):
  k3=(k1-40)*1.5*k2+(40*k2)
else:
  k3=k1*k2  
  
print(k3)

Enter Hour
35
Enter rate
10
350.0

ex2 chap 3

In [ ]:
try:
   n1 = float(input("Enter Hour\n"))
   n2 = float(input("Enter rate\n"))

   if (n1>40):
     n3=(n1-40)*1.5*n2+(40*n2)
   else:
     n3=n1*n2   
     print(n3)
except:
  print("Please enter numeric input")

Enter Hour
40
Enter rate
10
400.0

ex 3 of chapm 3

In [ ]:
a=float(input("Enter your score\n"))
if(a<0.0 or a>1.0) :
  print("Score is out of range!!")
elif(a>=0.9):
  print("A")
elif(a>=0.8):
  print("B")
elif(a>=0.7):
  print("C")
elif(a>=0.6):
  print("D")      
else:
  print("F")

Enter your score
.87
B

LEAP YEAR

In [ ]:
a=float(input('Enter the year\n'))
if (a % 4 ==0 and a % 400 == 0 or a != 0):
  print('The year is leap year')
else:
  print('The year is not a leap year')

Enter the year
1996
The year is leap year

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
name = "chunk"
print ("hello " + name )

hello chunk

excercise 3
h = numberof hours worked , p = box paid per hour

In [ ]:
h = 53.3
p = 6.9
gross = h * p
print (gross)

367.77

excersice 4

In [ ]:
width = 31
height = 27.7
print (width//2)

15

In [ ]:
print (width/2.0)

15.5

In [ ]:
print (height /3)

9.233333333333333

In [ ]:
k = 15 + 27 * 51
print (k)

1392

In [ ]:
c = 55.6
f = ( c * 9/5 ) + 32
print (f)

132.08

excersice 5 ,c = celcius , f = Fahrenheit

In [ ]:
f = (100)
if f < 105 :
    print (" he is suffering from feaver")
else :
      print ("health is good")

 he is suffering from feaver

In [ ]:
p = float(input('P = '))
a = float(input('A = ')) 
t = float(input('T = ')) 
r = ((a - p) * 100) / (p * t)
print(r)

P = 4
A = 10
T = 12
12.5

les 1 ex7

In [ ]:
x = 43
x = x + 1
print(x)

44

functions

In [ ]:
def thankyou(king):
 print("\nYou are doing good work, %s!" % king)

thankyou('HACKER')

You are doing good work, HACKER!

In [ ]:
A = 5 / 5
print (A)

1.0

In [ ]:
thankyou('ghghgh')

def thankyou(abc):
 print("\ndong good, %s!" % abc)

You are doing good work, ghghgh!

In [ ]:
def raj(x,y):
  return x*y;

num1=5
num2=6
print("the product is:" , raj(num))

### ***`LIST`***
```

In [ ]:
List = [0,1,2,"king",4,5]
List[0:4]

[0, 1, 2, 'king']

In [ ]:
List[1:6]

[1, 2, 'king', 4, 5]

In [ ]:
List[:-1]

[0, 1, 2, 'king', 4]

In [ ]:
List[-5:-2]

[1, 2, 'king']

In [ ]:
List[0:9]
# after : depits count : ,

[0, 1, 2, 'king', 4, 5]

In [ ]:
l = ["michle",10.36,1999]
l[-3]

'michle'

In [ ]:
h = "hfdk,jgrtwe"
#[::2] startv with 2nd and end with nth
#[-2::-3]
h[::2]

'hd,gte'

In [ ]:
def palindrome(kk):
 return kk == kk[::1] 
 kk = "22022022"
 ans = palindrome(kk)
 if ans :
   print("yes")
 else:
  print("no")

In [ ]:
price1 = float(input('Enter the 1 price : '))
piece1 = float(input('Enter the 1 box : '))
price2 = float(input('Enter the 2 price : '))
piece2 = float(input('Enter the 2 box : '))

elasticity = (piece2 - piece1) / (price2 - price1)
print(elasticity)
if (elasticity < 1) :
 print("inelasatic")
elif (elasticity > 1) :
 print ("elastc")

Enter the 1 price : 3
Enter the 1 box : 10
Enter the 2 price : 8
Enter the 2 box : 3.75
-1.25
inelasatic

In [ ]:
def elast(price1,box1,price2,box2):
  elasticity = (box2 - box1) / (price2 - price1)
  return (elasticity)
  
def scale_elast(elasticity):
  if elasticity == 0 : 
    return 'Perfectly Inelastic'
  elif elasticity < 1 :
    return 'Relatively inelastic'
  elif elasticity == 1 : 
    return 'Unit Elastic'
  elif elasticity > 1 : 
    return 'Relatively Elastic'

price1 = float(input('Enter the prior price : '))
box1 = float(input('Enter the prior box : '))
price2 = float(input('Enter the latter price : '))
box2 = float(input('Enter the latter box : '))

elasticity = elast(price1,box1,price2,box2)
print('Elasticity = ',elasticity)

character = scale_elast(elasticity)
print('Character of product = ', character)

Enter the prior price : 5
Enter the prior box : 2
Enter the latter price : 8
Enter the latter box : 1
Elasticity =  -0.3333333333333333
Character of product =  Relatively inelastic

In [ ]:
def elasticity():
  try:  
    p1 = float(input("Please enter the org price "))
    p2 = float (input("Please enter new price "))
    a1 = float(input("Please enter old amount "))
    a2 = float(input("Please enter new amount "))
    elasticity = (a2-a1)/(p2-p1)
    if elasticity == 0:
      return ("Demand is totally inelastic")
    elif elasticity < 0 :
      return ("Demand is inelastic")
    elif elasticity == 1 :
      return ("Demand is unit elastic")
    elif elasticity > 1:
      return("Demand is elastic") 
  except ZeroDivisionError:
    return ("Demand is infinite")
 
print(elasticity())

Please enter the org price 5
Please enter new price 9
Please enter old amount 10
Please enter new amount 15
Demand is elastic

# ***`WHILE LOOP`***

In [ ]:
i = 1
while i < 11:
  print(i)
  i += 0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0
10.5

In [ ]:
i = 2
while i < 8:
  print(i)
  if i == 5:
    break
  i += 2

2
4
6

In [ ]:
i = 8
while i < 25:
  print(i)
  i += 3
else:
  print("i is no longer less than 6")

8
11
14
17
20
23
i is no longer less than 6

In [ ]:
dates = [1982, 1980, 1973, 2000, 2014, 2015]

i = 0
year = 0

while(year != 1982):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
It took  1 repetitions to get out of loop.

In [ ]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(line)
print('Done!')

> HLO
HLO
> DON
DON
> DONE
DONE
> DONE
DONE
> DONE!
DONE!
> done3
done3
> done
Done!

# ***`*`FOR LOOP`*`***

In [5]:
fruits = ["apple", "mango", "cherry"]

for x in fruits:
  print(x)

apple
mango
cherry

In [6]:
for x in "hacker":
  print(x)

h
a
c
k
e
r

In [ ]:
#fruits = ["apple", "banana", "cherry"]
snacks = ["bhats","samosa", "biscuits","bomos","chocolates","oats"]
for menu in snacks:
  if (menu[0] == "b"):
    print(menu)
#for x in fruits:
#  print(x)

bhats
biscuits
bomos

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [ ]:
# Use the range

range(8)

range(0, 8)

In [ ]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

### ***`panda`***

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [ ]:
# Create and populate a 5x3 NumPy array.
my_data = np.array([[214501, 'Ravi' ,23], [245102,'Anirudh', 7], [205309,'Aswath', 9], [30456,'Sidharth', 14], [40567,'Amey', 15]])
# Create a Python list that holds the names of the three columns.
my_column_names = ['Reg No', 'Name', 'Marks']
# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
import io
df2 = pd.read_csv(io.BytesIO(uploaded['IBBA_2145xx.csv']))
print (df2)

# `***ex 5 chap4***`

```
# This is formatted as code
```

In [ ]:
def fred():
  print("Zap")
def jane():
  print("ABC")
jane()
fred()
jane()

ABC
Zap
ABC

# ***`ex06`***
chap 4

In [ ]:
def computepay(Hours,rate):
  if(Hours>40):
    pay=(Hours-40)*1.5*rate+(40*rate)
  else:
    pay=Hours*rate  
  return pay

Hours = float(input("Enter Hour\n"))
rate = float(input("Enter rate\n"))
pay = computepay(Hours , rate)  
print( 'pay :',pay)

Enter Hour
45
Enter rate
10
pay : 475.0

# ***`ex 7 cahp 4 `***

In [ ]:
def computegrade(score):
  if(score<0.0 or score>1.0) :
    return("Score is out of range!!")
  elif(score>=0.9):
    return("A")
  elif(score>=0.8):
    return("B")
  elif(score>=0.7):
    return("C")
  elif(score>=0.6):
    return("D")      
  else:
    return("F")
try:
  score=float(input("Enter your score\n"))
  print(computegrade(score))
except Exception :
  print('Enter a number!!!!!')

Enter your score
l
Enter a number!!!!!

# ***`ex1 chap itration`***

In [ ]:
count=0
total=0
while True :
  value=input('Enter the number\n')
  if (value=='done'):
    break
  try:
    value1=float(value)
  except:
    print('Invalid input')
  total=total+value1
  count=count+1
print(total,count,total/count)

Enter the number
8
Enter the number
4
Enter the number
2
Enter the number
7.8
Enter the number
done
21.8 4 5.45

# ***`ex 2 chap itration`***

In [ ]:
count=0
list=[]
while True :
  element=input('Enter the number\n')
  if (element=='done'):
    break
  try:
    value1=float(element)
    list.append(value1)
    
  except:
    print('Invalid input')

  if count==0 :
    min_val=value1
    max_val=value1
  elif value1<min_val:
    min_val=value1
  elif value1>max_val:
    max_val=value1

  count=count+1
print('The list of ements are :',list)
print(min_val , max_val)

Enter the number
5
Enter the number
9
Enter the number
done
The list of ements are : [5.0, 9.0]
5.0 9.0

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_csv("Shark_Tank_India_S1.csv")

Mounted at /content/drive

In [ ]:
#reading the data
data

,episode_number,startup_number,brand_name,description,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.00,1000.00,75.0,16.00,...,0,1,0,0,0,1,1,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.00,266.67,40.0,50.00,...,0,1,0,0,0,1,1,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.00,250.00,25.0,30.00,...,0,1,0,0,0,1,1,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.00,7000.00,70.0,2.75,...,0,1,0,0,0,1,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.00,1000.00,0.0,0.00,...,0,1,0,0,0,1,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.50,4000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000
117,36,118,Sneakare,Shoe care and storage solutions,1,20.0,5.00,400.00,21.0,12.00,...,0,1,1,1,0,1,1,3,7.0,4.000000
118,36,119,French Crown,Clothing Industry,0,150.0,0.33,45000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000
119,36,120,Store My Goods,Storage solutions,1,100.0,1.75,5714.00,100.0,4.00,...,0,1,1,1,1,1,0,2,50.0,2.000000
120,36,121,Devnagri,Translation platform,0,100.0,1.00,10000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000

In [ ]:
#displays the top 5 entries in the dataset
data.head ()

,episode_number,startup_number,brand_name,description,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,0,1,0,0,0,1,1,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,0,1,0,0,0,1,1,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,0,1,1,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,0,1,0,0,0,1,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,1,0,0,0,1,0,0,0.0,0.000000

In [ ]:
data.tail()

,episode_number,startup_number,brand_name,description,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.50,4000.0,0.0,0.0,...,0,1,0,1,0,1,0,0,0.0,0.0
117,36,118,Sneakare,Shoe care and storage solutions,1,20.0,5.00,400.0,21.0,12.0,...,0,1,1,1,0,1,1,3,7.0,4.0
118,36,119,French Crown,Clothing Industry,0,150.0,0.33,45000.0,0.0,0.0,...,0,1,0,1,0,1,0,0,0.0,0.0
119,36,120,Store My Goods,Storage solutions,1,100.0,1.75,5714.0,100.0,4.0,...,0,1,1,1,1,1,0,2,50.0,2.0
120,36,121,Devnagri,Translation platform,0,100.0,1.00,10000.0,0.0,0.0,...,0,1,0,1,0,1,0,0,0.0,0.0

In [ ]:
data.shape

(121, 32)

In [ ]:
data.columns

Index(['episode_number', 'startup_number', 'brand_name', 'description',
       'deal_offered', 'startup_ask_amount_lakhs', 'startup_ask_percentage',
       'startup_ask_valuation', 'deal_amount_lakhs', 'deal_equity',
       'deal_valuation', 'loan_element_present', 'loan_amount',
       'rannvijay_present', 'abish_present', 'aman_present', 'aman_invested',
       'anupam_present', 'anupam_invested', 'ashneer_present',
       'ashneer_invested', 'ghazal_present', 'ghazal_invested',
       'namita_present', 'namita_invested', 'peyush_present',
       'peyush_invested', 'vineeta_present', 'vineeta_invested',
       'sharks_offering', 'amount_per_shark', 'equity_per_shark'],
      dtype='object')

DISCTIONARIES

In [ ]:
eng2sp = dict()
print(eng2sp)
eng2sp['one'] = 'uno'
print(eng2sp)

{}
{'one': 'uno'}

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{(0, 1): 6,
 'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5}

In [ ]:
Dict["key1"]

1

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
len(eng2sp)

1

Exercise 1: Download a copy of the file www.py4e.com/code3/words.txt
Write a program that reads the words in words.txt and stores them as
keys in a dictionary. It doesn’t matter what the values are. Then you
can use the in operator as a fast way to check whether a string is in the
dictionary

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data = pd.view_txt("words.txt")

Mounted at /content/drive

NameError: ignored

# EXCERCISE *8.4* 

*   List item
*   List item

In [ ]:
words =[]
from google.colab import drive
drive.mount('/content/drive', force_remount=1) 
fhand = open('romeo.txt.txt' , 'r')
for line in  fhand :
 for word in line.split(' '):
    if word not in words :
        words.append(word)
print(sorted(words))
#not in order

Mounted at /content/drive
['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks\n', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon\n', 'pale', 'sick', 'soft', 'sun', 'sun\n', 'the', 'through', 'what', 'window', 'with', 'yonder']

# ***EXCERCISE 8.5***

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")

email_data = open(data).read()
words = email_data.split()
i = 0
count=0
length = len(words)

while i < length:
    if words[i] == "From":
      #new_word=words[i]
      count +=1
    i=i+1
print("There were" , count ,"  lines in the file which starts with the word  from")

Mounted at /content/drive
Enter the name of the file you want to be processedmbox.txt
There were 3897   lines in the file which starts with the word  from

# ***EXCERCISE 8.6***

In [ ]:
my_nums = []

while True:
  a = input("Enter a number:")
  if a == 'done' :
    break
  try:
    val = float(a)
  except:
    print("invalid input")
    continue
  my_nums.append(val)
 

print(min(my_nums) )
print(max(my_nums))

Enter a number:6
Enter a number:552
Enter a number:666
Enter a number:258
Enter a number:2333
Enter a number:done
6.0
2333.0

EXCERCISE 9.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
days = dict()
words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        days[words[i+2]] = days.get(words[i+2],0) + 1
    i = i + 1

print(days)
#howmNY mails on particular day

Mounted at /content/drive
Enter the name of the file you want to be processedmbox-short.txt
{'Sat': 1, 'Fri': 20, 'Thu': 6}

EXCERCISE 9.3

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
sender = dict()
#days = dict()
words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        #days[words[i+2]] = days.get(words[i+2],0) + 1
        sender[words[i+1]] = sender.get(words[i+1],0) + 1
    i = i + 1

#print(days)
print(sender)

Mounted at /content/drive
Enter the name of the file you want to be processedmbox.txt
{'stephen.marquard@uct.ac.za': 87, 'louis@media.berkeley.edu': 72, 'zqian@umich.edu': 585, 'rjlowe@iupui.edu': 270, 'cwen@iupui.edu': 474, 'gsilver@umich.edu': 84, 'wagnermr@iupui.edu': 132, 'antranig@caret.cam.ac.uk': 54, 'gopal.ramasammycook@gmail.com': 75, 'david.horwitz@uct.ac.za': 201, 'ray@media.berkeley.edu': 96, 'mmmay@indiana.edu': 483, 'stuart.freeman@et.gatech.edu': 51, 'tnguyen@iupui.edu': 18, 'chmaurer@iupui.edu': 333, 'aaronz@vt.edu': 330, 'ian@caret.cam.ac.uk': 288, 'csev@umich.edu': 57, 'jimeng@umich.edu': 279, 'josrodri@iupui.edu': 84, 'knoop@umich.edu': 15, 'bkirschn@umich.edu': 81, 'dlhaines@umich.edu': 252, 'hu2@iupui.edu': 21, 'sgithens@caret.cam.ac.uk': 129, 'arwhyte@umich.edu': 81, 'gbhatnag@umich.edu': 9, 'gjthomas@iupui.edu': 132, 'a.fish@lancaster.ac.uk': 42, 'Site': 3, 'ajpoland@iupui.edu': 144, 'lance@indiana.edu': 24, 'ssmail@indiana.edu': 15, 'jlrenfro@ucdavis.edu': 3, 'nuno@ufp.pt': 84, 'zach.thomas@txstate.edu': 51, 'ktsao@stanford.edu': 36, 'ostermmg@whitman.edu': 51, 'john.ellis@rsmart.com': 24, 'jleasia@umich.edu': 6, 'ggolden@umich.edu': 24, 'thoppaymallika@fhda.edu': 3, 'kimsooil@bu.edu': 42, 'bahollad@indiana.edu': 12, 'jzaremba@unicon.net': 27, 'mbreuker@loi.nl': 27, 'colin.clark@utoronto.ca': 3}


# ***9.4***

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
domains = dict()

words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        emails=words[i+1]
        domain=emails.split('@')
        domains[domain[1]]=domains.get(domain[1],0)+1
    i = i + 1


print(domains)

Mounted at /content/drive
Enter the name of the file you want to be processedmbox-short.txt
{'uct.ac.za': 6, 'media.berkeley.edu': 4, 'umich.edu': 7, 'iupui.edu': 8, 'caret.cam.ac.uk': 1, 'gmail.com': 1}

EXCERCISE 9.5

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
sender = dict()
#days = dict()
words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        #days[words[i+2]] = days.get(words[i+2],0) + 1
        sender[words[i+1]] = sender.get(words[i+1],0) + 1
    i=i+1
#print(sender)    
max_address = None
max_emails = 0
for k in sender:
    if sender[k] > max_emails:
      max_address = k
      max_emails = sender[k]

#print(days)
print(max_address,max_emails)

Mounted at /content/drive
Enter the name of the file you want to be processedmbox.txt
zqian@umich.edu 585

# ***tuplels***

In [ ]:
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
sender = dict()
#days = dict()
words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        #days[words[i+2]] = days.get(words[i+2],0) + 1
        sender[words[i+1]] = sender.get(words[i+1],0) + 1
    i = i + 1

#print(days)
#print(sender)

lst=[]

for key,value in sender.items():#creates a list of dictnary;s (key,value) pair in tuple pairs
  lst.append((value,key))
  
lst.sort(reverse=True)
print(lst[0])

Enter the name of the file you want to be processedmbox.txt
(585, 'zqian@umich.edu')

In [ ]:
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
hours_of_day = dict()
#days = dict()
words = email_data.split()
i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        #days[words[i+2]] = days.get(words[i+2],0) + 1
        #sender[words[i+1]] = sender.get(words[i+1],0) + 1
        time=words[i+5]
        time = time.split(":")
        hours_of_day[time[0]] = hours_of_day.get(time[0],0) + 1
    i = i + 1
#print(hours_of_day)
lst=[]

for key,value in hours_of_day.items():#creates a list of dictnary;s (key,value) pair in tuple pairs
  lst.append((key,value))
  
lst.sort()
#print(lst)
for t in lst :
  print(t[0],t[1])

Enter the name of the file you want to be processedmbox.txt
00 69
01 30
02 33
03 57
04 69
05 30
06 135
07 126
08 216
09 498
10 594
11 462
12 324
13 342
14 450
15 456
16 543
17 291
18 174
19 138
20 108
21 108
22 84
23 54
This 3